postgres:
  enabled: true
  name: postgres
  #serviceNameOverride: postgres
  image: postgres:16-alpine
  username: dinum
  password: pass
  database: hub
  size: 1Gi
redis:
  enabled: true
  name: redis
  image: redis:8.2-alpine
  username: user
  password: pass
minio:
  enabled: true
  image: quay.io/minio/minio
  name: minio
  ingress:
    enabled: true
    hostname: hub-minio.127.0.0.1.nip.io
    tls:
      enabled: true
      secretName: hub-tls
  consoleIngress:
    enabled: true
    hostname: hub-minio-console.127.0.0.1.nip.io
    tls:
      enabled: true
      secretName: hub-tls
  username: dinum
  password: password
  bucket: hub-media-storage
  versioning: true
  size: 1Gi
keycloak:
  enabled: true
  image: quay.io/keycloak/keycloak:20.0.1
  name: keycloak
  #serviceNameOverride: keycloak
  hostname: hub-keycloak.127.0.0.1.nip.io
  username: admin
  password: pass
  tls:
    enabled: true
    secretName: hub-tls
  db:
    username: dinum
    password: pass
    database: keycloak
    size: 1Gi
    image: postgres:16-alpine
  realm: 
    name: hub
    username: hub
    password: hub
    email: hub@example.com

