@use "@gouvfr-lasuite/ui-kit/sass/fonts";
@use "@gouvfr-lasuite/ui-kit/style";
@use "./cunningham-tokens.css";
@use "./../pages/home.scss" as *;
@use "./../features/layouts/HubLayout.scss";
@use "./../features/layouts/LeftPanel/LeftPanel.scss";
@use "./../features/layouts/components/AccountSelector/AccountSelector.scss";
@use "./../features/ui/components/avatar/Avatar.scss";
@use "./../features/ui/components/toast/Toast.scss";
@use "./../features/chat/components/header/ChatHeader.scss";
@use "./../features/chat/components/ChatBubble.scss";
@use "./../features/chat/components/ChatComposer.scss";
@use "./../features/chat/components/ChatConversation.scss";
@use "./../features/chat/components/ChatConversationSkeleton.scss";
@use "./../features/chat/components/ChatVirtualList.scss";
@use "./../features/chat/components/ChatView.scss";
@use "./../features/chat/components/NewChatView.scss";
@use "./../features/chat/components/ChatInvitation.scss";
@use "./../features/chat/components/FluentEmoji.scss";
@use "./../features/chat/components/MessageHoverToolbar.scss";
@use "./../features/chat/components/MessageReactions.scss";
@use "./../features/chat/components/ThreadButton.scss";
@use "./../features/chat/components/UnreadThreadsBanner.scss";
@use "./../features/chat/components/EmojiPicker.scss";
@use "./../features/chat/components/tools-panel/ChatToolsPanel.scss";
@use "./../features/chat/components/tools-panel/ThreadsTool.scss";
@use "./toast.scss";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.hub__visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.c__modal__backdrop:has(.file-preview__container) {
  z-index: 10;
  background: var(
    --c--contextuals--background--semantic--contextual--on-surface
  );
}
