.hub__account-selector {
  display: inline-flex;
  align-items: center;
  gap: 4px;

  background: var(--c--contextuals--background--surface--primary, #fff);
  border: 1px solid var(--c--contextuals--border--surface--primary, #dfe2ea);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  overflow: clip;
  width: fit-content;

  > * {
    flex: 0 0 auto;
  }
}
