.hub__account-selector {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  width: fit-content;

  > * {
    flex: 0 0 auto;
  }

  .user-menu__button,
  .lagaufre-button {
    width: 32px;
    min-width: 32px;
    height: 32px;
  }
}
